<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button routerLink="/dispositivo/{{idDispositivo}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Med. sensor n° {{idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let medicion of this.listadoMediciones" >
    <ion-avatar slot="start">
      <ion-icon size="small" name="speedometer-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h4>{{medicion.fecha|date:"dd/MM/yy-HH:mm:ss":'+0000'}}hs, V:{{medicion.valor|PresionPipe}}</h4>
    </ion-label>
  </ion-item>
</ion-content>
