<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dispositivo - {{idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="highcharts" style="width:100%; height:300px;"></div>

  <div *ngIf="iniciarRiegoMask;then content else other_content">here is ignored</div>
    <ng-template #content><ion-button [disabled] = "!regar" color="primary" expand="block" (click)="handleBotonAbrir()"> Abrir Electrovalvula</ion-button>  </ng-template>
    <ng-template #other_content><ion-button color="primary"  expand="block" (click)="handleBotonCerrar()"> Cerrar Valvula</ion-button>  </ng-template>

  <ion-button color="primary" expand="block" (click)="solicitoMedicion()">Solicitar medición</ion-button>
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idDispositivo}}/mediciones" routerDirection="root">Mediciones Históricas</ion-button>
  <ion-button color="primary" expand="block" routerLink="/dispositivo/{{idElectrovalvula}}/logs" routerDirection="root"> Logs de Riego</ion-button>

</ion-content>
